<html>
	<head>
		<title>Test Chips</title>
		<link rel="stylesheet" type="text/css" href="ngswippy.css">
		<link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/v0.11.3/angular-material.css">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		
	</head>
	<style type="text/css">
		.demo-wrap {
			height: 65%;
		}
		body {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			margin: 0;
			overflow: hidden;
		}
		h1 {
			color: #475577;
			text-align: center;
			padding: 20px;
		} 
		legend {
			color: #3F51B5; 
		}
		legend code {
			color: #3F51B5;
			font-weight: normal; 
		}
		md-list {
			height: 170px;
			overflow: auto;
		}
		.ng-swippy {
			margin-left: 50%;
			transform: translateX(-50%);
		}
	</style>
	<body ng-app='ngSwippyDemo' ng-controller="MainController" class='ngSwippyDemo' ng-cloak>
		<h1 class="headerText">Demo for ng-swippy Directive</h1>
		<div layout="row" layout-wrap>
		<fieldset class="standard" flex="70">
			<legend>Using <code>attributes</code></legend>
			<div layout="row" layout-wrap>
			  <div flex="50">
				<md-checkbox ng-model="showinfo">
				  Show additional data
				</md-checkbox>
			  </div>
			</div>
			 <div layout>
			  <div flex="10" layout layout-align="center center">
				<span class="md-body-1">Width</span>
			  </div>
			  <md-slider flex min="300" max="500" ng-model="size.width" aria-label="red" id="red-slider" class>
			  </md-slider>
			  <div flex="20" layout layout-align="center center">
				<input flex type="number" ng-model="size.width" aria-label="red" aria-controls="red-slider">
			  </div>
			</div>
			 <div layout>
			  <div flex="10" layout layout-align="center center">
				<span class="md-body-1">Height</span>
			  </div>
			  <md-slider flex min="300" max="500" ng-model="size.height" aria-label="red" id="red-slider" class>
			  </md-slider>
			  <div flex="20" layout layout-align="center center">
				<input flex type="number" ng-model="size.height" aria-label="red" aria-controls="red-slider">
			  </div>
			</div>
			 <span class="no-select"> Clicked the item:</span> {{clickedTimes}} times
		</fieldset>
		<fieldset class="standard" flex="25">
			<legend>Actions</legend>
		   <md-list>
			<md-list-item class="md-1-line" ng-repeat="item in actions">
			<div class="md-list-item-text" layout="column">
				<h5>{{ item.name }}</h5>
			</div>
			<md-divider ></md-divider>
			</md-list-item>
		</md-list>
		</fieldset>
		</div>

		<div class='demo-wrap'>
			<ng-swippy collection='itemsCollection' width='{{size.width}}px' height='{{size.height}}px' item-click='myCustomFunction' data='showinfo'collection-empty='swipeend' swipe-left='swipeLeft'  swipe-right='swipeRight' cards-number='2' label-ok='Cool' label-negative='Bad'></ng-swippy>
		<div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
	<script src="https://gitcdn.xyz/repo/angular/bower-material/v0.11.3/angular-material.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
	<script src='angular-touch.js'></script>
	<script src="ng-swippy.js"></script>
	<script src="app.js"></script>

</html>